
*.user
*.ncb
*.suo
/Java/.settings
/Java/bin
/Binary/Debug/Shoebill.dll
/sampsvr/gamemodes/Shoebill.amx
/sampsvr/plugins/Shoebill.dll
*.htm
*.idb
*.obj
*.pdb
/Debug
/Binary
/sampsvr/server_log.txt
/sampsvr/logs
/Source/JNI/Release/Shoebill.dll.intermediate.manifest
/Source/JNI/Release/mt.dep
/sampsvr/scriptfiles/class.txt
/sampsvr/scriptfiles/vehicles/bone.txt
/sampsvr/scriptfiles/vehicles/flint.txt
/sampsvr/scriptfiles/vehicles/ls_airport.txt
/sampsvr/scriptfiles/vehicles/ls_gen_inner.txt
/sampsvr/scriptfiles/vehicles/ls_gen_outer.txt
/sampsvr/scriptfiles/vehicles/ls_law.txt
/sampsvr/scriptfiles/vehicles/lv_airport.txt
/sampsvr/scriptfiles/vehicles/lv_gen.txt
/sampsvr/scriptfiles/vehicles/lv_law.txt
/sampsvr/scriptfiles/vehicles/pilots.txt
/sampsvr/scriptfiles/vehicles/red_county.txt
/sampsvr/scriptfiles/vehicles/sf_airport.txt
/sampsvr/scriptfiles/vehicles/sf_gen.txt
/sampsvr/scriptfiles/vehicles/sf_law.txt
/sampsvr/scriptfiles/vehicles/sf_train.txt
/sampsvr/scriptfiles/vehicles/tierra.txt
/sampsvr/scriptfiles/vehicles/trains.txt
/sampsvr/scriptfiles/vehicles/whetstone.txt
/sampsvr/server.cfg
/Java/doc/allclasses-frame.html
/Java/doc/allclasses-noframe.html
/Java/doc/constant-values.html
/Java/doc/deprecated-list.html
/Java/doc/help-doc.html
/Java/doc/index-files/index-1.html
/Java/doc/index-files/index-10.html
/Java/doc/index-files/index-11.html
/Java/doc/index-files/index-12.html
/Java/doc/index-files/index-13.html
/Java/doc/index-files/index-14.html
/Java/doc/index-files/index-15.html
/Java/doc/index-files/index-16.html
/Java/doc/index-files/index-17.html
/Java/doc/index-files/index-18.html
/Java/doc/index-files/index-19.html
/Java/doc/index-files/index-2.html
/Java/doc/index-files/index-20.html
/Java/doc/index-files/index-21.html
/Java/doc/index-files/index-22.html
/Java/doc/index-files/index-23.html
/Java/doc/index-files/index-24.html
/Java/doc/index-files/index-25.html
/Java/doc/index-files/index-26.html
/Java/doc/index-files/index-3.html
/Java/doc/index-files/index-4.html
/Java/doc/index-files/index-5.html
/Java/doc/index-files/index-6.html
/Java/doc/index-files/index-7.html
/Java/doc/index-files/index-8.html
/Java/doc/index-files/index-9.html
/Java/doc/index.html
/Java/doc/net/gtaun/event/Event.html
/Java/doc/net/gtaun/event/EventDispatcher.html
/Java/doc/net/gtaun/event/IEventDispatcher.html
/Java/doc/net/gtaun/event/IEventListener.html
/Java/doc/net/gtaun/event/class-use/Event.html
/Java/doc/net/gtaun/event/class-use/EventDispatcher.html
/Java/doc/net/gtaun/event/class-use/IEventDispatcher.html
/Java/doc/net/gtaun/event/class-use/IEventListener.html
/Java/doc/net/gtaun/event/package-frame.html
/Java/doc/net/gtaun/event/package-summary.html
/Java/doc/net/gtaun/event/package-tree.html
/Java/doc/net/gtaun/event/package-use.html
/Java/doc/net/gtaun/samp/CheckpointBase.html
/Java/doc/net/gtaun/samp/DialogBase.html
/Java/doc/net/gtaun/samp/GameModeBase.html
/Java/doc/net/gtaun/samp/LabelBase.html
/Java/doc/net/gtaun/samp/MenuBase.html
/Java/doc/net/gtaun/samp/ObjectBase.html
/Java/doc/net/gtaun/samp/PickupBase.html
/Java/doc/net/gtaun/samp/PlayerAttach.html
/Java/doc/net/gtaun/samp/PlayerBase.html
/Java/doc/net/gtaun/samp/PlayerLabelBase.html
/Java/doc/net/gtaun/samp/PlayerObjectBase.html
/Java/doc/net/gtaun/samp/PlayerSkill.html
/Java/doc/net/gtaun/samp/RaceCheckpointBase.html
/Java/doc/net/gtaun/samp/TextdrawBase.html
/Java/doc/net/gtaun/samp/TimerBase.html
/Java/doc/net/gtaun/samp/VehicleBase.html
/Java/doc/net/gtaun/samp/VehicleComponent.html
/Java/doc/net/gtaun/samp/VehicleDamage.html
/Java/doc/net/gtaun/samp/VehicleParam.html
/Java/doc/net/gtaun/samp/ZoneBase.html
/Java/doc/net/gtaun/samp/about/MainFrame.html
/Java/doc/net/gtaun/samp/about/class-use/MainFrame.html
/Java/doc/net/gtaun/samp/about/package-frame.html
/Java/doc/net/gtaun/samp/about/package-summary.html
/Java/doc/net/gtaun/samp/about/package-tree.html
/Java/doc/net/gtaun/samp/about/package-use.html
/Java/doc/net/gtaun/samp/class-use/CheckpointBase.html
/Java/doc/net/gtaun/samp/class-use/DialogBase.html
/Java/doc/net/gtaun/samp/class-use/DynamicLabelBase.html
/Java/doc/net/gtaun/samp/class-use/DynamicObjectBase.html
/Java/doc/net/gtaun/samp/class-use/GameModeBase.html
/Java/doc/net/gtaun/samp/class-use/LabelBase.html
/Java/doc/net/gtaun/samp/class-use/MenuBase.html
/Java/doc/net/gtaun/samp/class-use/ObjectBase.html
/Java/doc/net/gtaun/samp/class-use/PickupBase.html
/Java/doc/net/gtaun/samp/class-use/PlayerAttach.html
/Java/doc/net/gtaun/samp/class-use/PlayerBase.html
/Java/doc/net/gtaun/samp/class-use/PlayerLabelBase.html
/Java/doc/net/gtaun/samp/class-use/PlayerObjectBase.html
/Java/doc/net/gtaun/samp/class-use/PlayerSkill.html
/Java/doc/net/gtaun/samp/class-use/RaceCheckpointBase.html
/Java/doc/net/gtaun/samp/class-use/TextdrawBase.html
/Java/doc/net/gtaun/samp/class-use/TimerBase.html
/Java/doc/net/gtaun/samp/class-use/VehicleBase.html
/Java/doc/net/gtaun/samp/class-use/VehicleComponent.html
/Java/doc/net/gtaun/samp/class-use/VehicleDamage.html
/Java/doc/net/gtaun/samp/class-use/VehicleParam.html
/Java/doc/net/gtaun/samp/class-use/ZoneBase.html
/Java/doc/net/gtaun/samp/data/Area.html
/Java/doc/net/gtaun/samp/data/Area3D.html
/Java/doc/net/gtaun/samp/data/Color.html
/Java/doc/net/gtaun/samp/data/KeyState.html
/Java/doc/net/gtaun/samp/data/Point.html
/Java/doc/net/gtaun/samp/data/PointAngle.html
/Java/doc/net/gtaun/samp/data/PointRange.html
/Java/doc/net/gtaun/samp/data/PointRot.html
/Java/doc/net/gtaun/samp/data/Quaternions.html
/Java/doc/net/gtaun/samp/data/SpawnInfo.html
/Java/doc/net/gtaun/samp/data/Time.html
/Java/doc/net/gtaun/samp/data/Vector2D.html
/Java/doc/net/gtaun/samp/data/Vector3D.html
/Java/doc/net/gtaun/samp/data/Velocity.html
/Java/doc/net/gtaun/samp/data/WeaponData.html
/Java/doc/net/gtaun/samp/data/Weapons.html
/Java/doc/net/gtaun/samp/data/class-use/Area.html
/Java/doc/net/gtaun/samp/data/class-use/Area3D.html
/Java/doc/net/gtaun/samp/data/class-use/Color.html
/Java/doc/net/gtaun/samp/data/class-use/KeyState.html
/Java/doc/net/gtaun/samp/data/class-use/Point.html
/Java/doc/net/gtaun/samp/data/class-use/PointAngle.html
/Java/doc/net/gtaun/samp/data/class-use/PointRange.html
/Java/doc/net/gtaun/samp/data/class-use/PointRot.html
/Java/doc/net/gtaun/samp/data/class-use/Quaternions.html
/Java/doc/net/gtaun/samp/data/class-use/SpawnInfo.html
/Java/doc/net/gtaun/samp/data/class-use/Time.html
/Java/doc/net/gtaun/samp/data/class-use/Vector2D.html
/Java/doc/net/gtaun/samp/data/class-use/Vector3D.html
/Java/doc/net/gtaun/samp/data/class-use/Velocity.html
/Java/doc/net/gtaun/samp/data/class-use/WeaponData.html
/Java/doc/net/gtaun/samp/data/class-use/Weapons.html
/Java/doc/net/gtaun/samp/data/package-frame.html
/Java/doc/net/gtaun/samp/data/package-summary.html
/Java/doc/net/gtaun/samp/data/package-tree.html
/Java/doc/net/gtaun/samp/data/package-use.html
/Java/doc/net/gtaun/samp/event/CheckpointEnterEvent.html
/Java/doc/net/gtaun/samp/event/CheckpointLeaveEvent.html
/Java/doc/net/gtaun/samp/event/DialogCancelEvent.html
/Java/doc/net/gtaun/samp/event/DialogResponseEvent.html
/Java/doc/net/gtaun/samp/event/GameModeExitEvent.html
/Java/doc/net/gtaun/samp/event/MenuExitedEvent.html
/Java/doc/net/gtaun/samp/event/MenuSelectedEvent.html
/Java/doc/net/gtaun/samp/event/ObjectMovedEvent.html
/Java/doc/net/gtaun/samp/event/PlayerClickPlayerEvent.html
/Java/doc/net/gtaun/samp/event/PlayerCommandEvent.html
/Java/doc/net/gtaun/samp/event/PlayerConnectEvent.html
/Java/doc/net/gtaun/samp/event/PlayerDeathEvent.html
/Java/doc/net/gtaun/samp/event/PlayerDisconnectEvent.html
/Java/doc/net/gtaun/samp/event/PlayerEnterExitModShopEvent.html
/Java/doc/net/gtaun/samp/event/PlayerInteriorChangeEvent.html
/Java/doc/net/gtaun/samp/event/PlayerKeyStateChangeEvent.html
/Java/doc/net/gtaun/samp/event/PlayerKillEvent.html
/Java/doc/net/gtaun/samp/event/PlayerObjectMovedEvent.html
/Java/doc/net/gtaun/samp/event/PlayerPickupEvent.html
/Java/doc/net/gtaun/samp/event/PlayerRequestClassEvent.html
/Java/doc/net/gtaun/samp/event/PlayerRequestSpawnEvent.html
/Java/doc/net/gtaun/samp/event/PlayerSpawnEvent.html
/Java/doc/net/gtaun/samp/event/PlayerStateChangeEvent.html
/Java/doc/net/gtaun/samp/event/PlayerStreamInEvent.html
/Java/doc/net/gtaun/samp/event/PlayerStreamOutEvent.html
/Java/doc/net/gtaun/samp/event/PlayerTextEvent.html
/Java/doc/net/gtaun/samp/event/PlayerUpdateEvent.html
/Java/doc/net/gtaun/samp/event/RaceCheckpointEnterEvent.html
/Java/doc/net/gtaun/samp/event/RaceCheckpointLeaveEvent.html
/Java/doc/net/gtaun/samp/event/RconCommandEvent.html
/Java/doc/net/gtaun/samp/event/RconLoginEvent.html
/Java/doc/net/gtaun/samp/event/TimerTickEvent.html
/Java/doc/net/gtaun/samp/event/VehicleDeathEvent.html
/Java/doc/net/gtaun/samp/event/VehicleDestroyEvent.html
/Java/doc/net/gtaun/samp/event/VehicleEnterEvent.html
/Java/doc/net/gtaun/samp/event/VehicleExitEvent.html
/Java/doc/net/gtaun/samp/event/VehicleModEvent.html
/Java/doc/net/gtaun/samp/event/VehiclePaintjobEvent.html
/Java/doc/net/gtaun/samp/event/VehicleResprayEvent.html
/Java/doc/net/gtaun/samp/event/VehicleSpawnEvent.html
/Java/doc/net/gtaun/samp/event/VehicleStreamInEvent.html
/Java/doc/net/gtaun/samp/event/VehicleStreamOutEvent.html
/Java/doc/net/gtaun/samp/event/VehicleUpdateDamageEvent.html
/Java/doc/net/gtaun/samp/event/VehicleUpdateEvent.html
/Java/doc/net/gtaun/samp/event/class-use/CheckpointEnterEvent.html
/Java/doc/net/gtaun/samp/event/class-use/CheckpointLeaveEvent.html
/Java/doc/net/gtaun/samp/event/class-use/DialogCancelEvent.html
/Java/doc/net/gtaun/samp/event/class-use/DialogResponseEvent.html
/Java/doc/net/gtaun/samp/event/class-use/GameModeExitEvent.html
/Java/doc/net/gtaun/samp/event/class-use/MenuExitedEvent.html
/Java/doc/net/gtaun/samp/event/class-use/MenuSelectedEvent.html
/Java/doc/net/gtaun/samp/event/class-use/ObjectMovedEvent.html
/Java/doc/net/gtaun/samp/event/class-use/PlayerClickPlayerEvent.html
/Java/doc/net/gtaun/samp/event/class-use/PlayerCommandEvent.html
/Java/doc/net/gtaun/samp/event/class-use/PlayerConnectEvent.html
/Java/doc/net/gtaun/samp/event/class-use/PlayerDeathEvent.html
/Java/doc/net/gtaun/samp/event/class-use/PlayerDisconnectEvent.html
/Java/doc/net/gtaun/samp/event/class-use/PlayerEnterExitModShopEvent.html
/Java/doc/net/gtaun/samp/event/class-use/PlayerInteriorChangeEvent.html
/Java/doc/net/gtaun/samp/event/class-use/PlayerKeyStateChangeEvent.html
/Java/doc/net/gtaun/samp/event/class-use/PlayerKillEvent.html
/Java/doc/net/gtaun/samp/event/class-use/PlayerObjectMovedEvent.html
/Java/doc/net/gtaun/samp/event/class-use/PlayerPickupEvent.html
/Java/doc/net/gtaun/samp/event/class-use/PlayerRequestClassEvent.html
/Java/doc/net/gtaun/samp/event/class-use/PlayerRequestSpawnEvent.html
/Java/doc/net/gtaun/samp/event/class-use/PlayerSpawnEvent.html
/Java/doc/net/gtaun/samp/event/class-use/PlayerStateChangeEvent.html
/Java/doc/net/gtaun/samp/event/class-use/PlayerStreamInEvent.html
/Java/doc/net/gtaun/samp/event/class-use/PlayerStreamOutEvent.html
/Java/doc/net/gtaun/samp/event/class-use/PlayerTextEvent.html
/Java/doc/net/gtaun/samp/event/class-use/PlayerUpdateEvent.html
/Java/doc/net/gtaun/samp/event/class-use/RaceCheckpointEnterEvent.html
/Java/doc/net/gtaun/samp/event/class-use/RaceCheckpointLeaveEvent.html
/Java/doc/net/gtaun/samp/event/class-use/RconCommandEvent.html
/Java/doc/net/gtaun/samp/event/class-use/RconLoginEvent.html
/Java/doc/net/gtaun/samp/event/class-use/TimerTickEvent.html
/Java/doc/net/gtaun/samp/event/class-use/VehicleDeathEvent.html
/Java/doc/net/gtaun/samp/event/class-use/VehicleDestroyEvent.html
/Java/doc/net/gtaun/samp/event/class-use/VehicleEnterEvent.html
/Java/doc/net/gtaun/samp/event/class-use/VehicleExitEvent.html
/Java/doc/net/gtaun/samp/event/class-use/VehicleModEvent.html
/Java/doc/net/gtaun/samp/event/class-use/VehiclePaintjobEvent.html
/Java/doc/net/gtaun/samp/event/class-use/VehicleResprayEvent.html
/Java/doc/net/gtaun/samp/event/class-use/VehicleSpawnEvent.html
/Java/doc/net/gtaun/samp/event/class-use/VehicleStreamInEvent.html
/Java/doc/net/gtaun/samp/event/class-use/VehicleStreamOutEvent.html
/Java/doc/net/gtaun/samp/event/class-use/VehicleUpdateDamageEvent.html
/Java/doc/net/gtaun/samp/event/class-use/VehicleUpdateEvent.html
/Java/doc/net/gtaun/samp/event/package-frame.html
/Java/doc/net/gtaun/samp/event/package-summary.html
/Java/doc/net/gtaun/samp/event/package-tree.html
/Java/doc/net/gtaun/samp/event/package-use.html
/Java/doc/net/gtaun/samp/exception/AlreadyExistException.html
/Java/doc/net/gtaun/samp/exception/IllegalLengthException.html
/Java/doc/net/gtaun/samp/exception/class-use/AlreadyExistException.html
/Java/doc/net/gtaun/samp/exception/class-use/IllegalLengthException.html
/Java/doc/net/gtaun/samp/exception/package-frame.html
/Java/doc/net/gtaun/samp/exception/package-summary.html
/Java/doc/net/gtaun/samp/exception/package-tree.html
/Java/doc/net/gtaun/samp/exception/package-use.html
/Java/doc/net/gtaun/samp/package-frame.html
/Java/doc/net/gtaun/samp/package-summary.html
/Java/doc/net/gtaun/samp/package-tree.html
/Java/doc/net/gtaun/samp/package-use.html
/Java/doc/overview-frame.html
/Java/doc/overview-summary.html
/Java/doc/overview-tree.html
/Java/doc/package-list
/Java/doc/resources/inherit.gif
/Java/doc/serialized-form.html
/Java/doc/stylesheet.css
/Release/Wrapper.lib
/Release/sampplugin.lib
/sampsvr/crashinfo.txt